.mainDiv {
  max-width: 1280px;
  margin: 0 auto;

  .siteSection {
    position: relative;
    text-align: left;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    h2 {
      position: relative;
      font-size: 2rem;
      color: white;
      padding-bottom: 30px;
      padding-left: 50px;
      letter-spacing: 0.2em;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
        height: 4px;
        background: linear-gradient(to right, #c80033, #fd5639);
      }
    }

    .description {
      max-width: 400px;
      color: #cfcfd1;
      font-size: 1rem;
      margin-left: 20px;
      text-align: right;
      font-size: 1rem;
      letter-spacing: 0.1em;
      margin-right: 20px;
    }
  }
  .buttonAgenda {
    display: flex;
    gap: 20px;
    .ctaButton {
      display: flex;
      justify-content: center;
      width: 280px;
      position: relative;
      color: white;
      background-color: #3f4046;
      padding: 16px 30px;
      letter-spacing: 0.2em;
      font-size: large;
      border: none;
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      z-index: 1;
      transition: color 0.3s ease;
      text-transform: uppercase;
    
      &:hover {
        color: #fff;
      }
    
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%; 
        height: 100%;
        background: linear-gradient(to right, #c80033, #fd5639);
        transition: transform 0.5s ease;
        z-index: -1;
        transform: translateX(-100%);
      }
    
      &:hover:before {
        transform: translateX(0);
      }
    }
    
    .activeButton {
      color: #fff;
      background: linear-gradient(to right, #c80033, #fd5639);
      font-weight: bold;
    
      &:hover {
        color: #fff;
      }
    
      &:before {
        transform: translateX(0);
      }
    }
  }
}
