.mainDiv {
  max-width: 1280px;
  margin: 0 auto;

  .siteSection {
    position: relative;
    text-align: left;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    h2 {
      position: relative;
      font-size: 2rem;
      color: white;
      padding-bottom: 30px;
      padding-left: 50px;
      letter-spacing: 0.2em;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
        height: 4px;
        background: linear-gradient(to right, #c80033, #fd5639);
      }
    }

    .description {
      max-width: 400px;
      color: #cfcfd1;
      font-size: 1rem;
      margin-left: 20px;
      text-align: right;
      font-size: 1rem;
      letter-spacing: 0.1em;
      margin-right: 20px;
    }
  }

  .speakersList {
    .speakerCard {
      display: flex;
      align-items: center;
      padding: 20px;

      img {
        width: 40%;
        height: 300px;
        border-radius: 3px;
        object-fit: cover;
        margin-right: 20px;
      }

      .content {
        width: 60%;
        text-align: left;

        h2 {
          font-size: 2rem;
          letter-spacing: 0.1em;
          margin-bottom: 10px;
          color: white;
        }

        h3 {
          margin-bottom: 10px;
          color: #ff5733;
          text-transform: uppercase;
          font-size: 1.5rem;
          letter-spacing: 0.1em;
        }

        p {
          line-height: 1.4;
          color: #cfcfd1;
          letter-spacing: 0.1em;
          font-size: 1rem;
        }
      }

      &.mirrored {
        flex-direction: row-reverse;
        img {
          margin-right: 0;
          margin-left: 20px;
        }

        .content {
          text-align: right;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .siteSection {
      flex-wrap: wrap;
      margin-top: 30px;

      h2 {
        font-size: 1.8rem;
        padding-left: 30px;
      }

      .description {
        font-size: 0.9rem;
      }
    }

    .speakersList {
      .speakerCard {
        img {
          height: 250px;
        }

        h2 {
          font-size: 1.8rem;
        }

        h3 {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .siteSection {
      flex-direction: column;

      h2 {
        font-size: 1.5rem;
        padding-left: 20px;
        text-align: left;
      }

      .description {
        max-width: 100%;
        text-align: center;
        padding: 5px;
      }
    }

    .speakersList {
      .speakerCard {
        flex-direction: column;
        align-items: center;

        img {
          width: 80%;
          height: auto;
          margin-bottom: 20px;
        }

        .content {
          width: 100%;
          text-align: center;
        }

        h2 {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.8rem;
        }

        &.mirrored {
          flex-direction: column;
          img {
            margin-left: 0;
          }

          .content {
            text-align: center;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .siteSection {
      h2 {
        font-size: 1.2rem;
        padding-left: 20px;
        text-align: left;
      }

      .description {
        max-width: 100%;
        text-align: center;
        padding: 5px;
      }
    }

    .speakersList {
      .speakerCard {
        img {
          width: 100%;
          height: auto;
        }

        h2 {
          font-size: 1.2rem;
        }

        h3 {
          font-size: 1rem;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  @media (max-width: 375px) {
    .siteSection {
      h2 {
        padding-left: 20px;
        font-size: 1rem;
        text-align: left;
      }

      .description {
        max-width: 100%;
        text-align: center;
        padding: 5px;
      }
    }

    .speakersList {
      .speakerCard {
        img {
          width: 100%;
          height: auto;
        }

        h2 {
          font-size: 1rem;
        }

        h3 {
          font-size: 0.8rem;
        }

        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}
