
    .container {
        text-Align: 'center';
        margin: '10px';
    };
    .button {
      margin: '5px';
      padding: '10px';
      cursor: 'pointer';
      background-color: '#ccc';
      border: 'none';
    };

    .activeButton {
      margin: '5px';
      padding: '10px';
      cursor: 'pointer';
      background-color: '#4CAF50';
      color: 'white';
      border: 'none';
    };
